# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
[Tt]est[Rr]esults/
[Tt]est[Rr]eports/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# VS Code
.vscode/
